.unbonding-item{
    background: #F8F1FF;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    width: 28%;
}
.unbonding-item p{
    font-weight: 500;
    margin: 0;
    line-height: 20px;
    font-size: 14px;
}

.unbonding-item span{
    color: #818C99;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.unbonding-item h4{
    display: inline;
    color: #792EC0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

#superfluid-item {
    background: linear-gradient(90deg, #F3E7FF 0%, #CDE6FF 100%) !important;
}

.unbonding-item img{
    width: 12px;
    margin-left: 4px;
}