.pools-assets-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #EBEEFF;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
}
.assets-item p{
    color: #28436E;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 0;
}

.assets-row{
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.assets-row span{
    color: black;
    font-weight: 400;
    font-size: 17px;
}

.assets-row h3{
    font-size: 18px;
    font-weight: 500 !important;
    margin-left: 4px;
    color: #393B53;
}

.assets-tabs{
    margin-bottom: 10px;
}

.pool-token-logo{
    width: 30px;
    position: absolute;
    left: 30px;
}