.pool-fee-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px dashed #C3CEEB;
}

.pool-fee-row p{
    color: #6F7985;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
}

.pool-fee-div h3{
    line-height: 26px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.pool-fee-row h2{
    line-height: 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #792EC0;
}

.error-text-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text-div p{
    color: #E64646;
    font-weight: 400;
    font-size: 14px;
}

.error-text-div img{
    width: 26px;
    margin-right: 10px;
}

.error-text-div{
    padding: 0;
    margin-bottom: -5px;
}

#active-block{
    opacity: 1;
    margin-top: 10px;
    cursor: pointer;
}

.pool-percent-row{
    margin-top: 0 !important;
    padding-top: 5px !important;
}
.select-block .vkuiSelect__title{
    margin-left: 30px;
}

.token-logo{
    position: absolute;
    left: 25px;
}

.pool-token-row{
    display: flex;
}

.pool-token-row{
    display: flex;
    align-items: center;
}
.pool-token-row span{
    display: inline;
}
.pool-token-row{
    height: 40px;
}
.pool-token-row span{
    color: #6F7985;
    margin-left: 0;
}

.pool-token-row h2{
    display: inline;
    color: #2787F5;
    font-weight: 400 !important;
    font-size: 15px;
}

.pool-token-row p{
    color: #000 !important;
    font-weight: 300 !important;
    margin-left: 40px !important;
}

.pool-third-item{
    background: #F2F7FC;
    border-radius: 8px;
    margin: 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-center{
    display: flex;
    align-items: center;
}

.pool-third-item .token-logo{
    left: 30px;
}
.pool-third-column-1 span{
    font-size: 14px;
    line-height: 18px;
    color: #28436E;
}

.pool-third-column-1 p{
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: #000;
    font-weight: 500;
}

.pool-third-column-1{
    margin-left: 40px;
}

.pool-third-column-2 span{
    font-size: 14px;
    line-height: 18px;
    color: #6F7985;
}


.pool-third-column-2 h2{
    font-size: 16px;
    line-height: 24px;
    color: #792EC0;
    margin: 0;
    margin-right: 4px;
    font-weight: 500;
}

.pool-third-column-2 p{
    font-size: 16px;
    line-height: 24px;
    color: #437FEC;
    margin: 0;
    font-weight: 400;
}

.pool-third-column-2{
    text-align: right;
    display: flex;
}

.pool-third-fee{
    margin: 15px;
}

.pool-third-fee .pool-amount-container{
    margin-top: 15px;
}

.create-pool-block{
    padding-bottom: 160px;
}

.pool-third-item .unbond-btn{
    width: 90px;
    margin-left: 15px;
    height: 30px;
    margin-top: 5px;
}

.fixed-header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFF;
}
